@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.weather-card {
    display: grid;
    grid-auto-flow: column;
    gap: 5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(111, 143, 212);
}

.loading-screen {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: max(2rem, 8vw);
}

.today, .today-other-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.weather-card img {
    width: max(12rem, 8vw);
}

.search-area img {
    width: max(2rem, 2vw);
}
.avg-temp {
    font-size: max(2rem, 4.5vw);
}

.location {
    font-size: max(2rem, 4vw);
    font-weight: 600;
    text-wrap: nowrap;
    display: inline-flex;
}

#city {
    max-width: 11ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.additional-info, .left-section {
    display: flex;
}

.upcoming-prec {
    display: inline-flex;
    gap: 1rem;
    justify-self: start;
}

.precip-display {
    display: inline-flex;
    align-items: center;
}

.additional-info {
    gap: 1.5rem;
}

.add-info {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.add-info * {
    display: inline-flex;
    align-items: center;
}

.add-info *:last-child {
    justify-content: flex-end;
}

.left-section img {
    width: max(2rem, 3.5vw);
}

.today-add-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.4rem;
    column-gap: 2rem;
}

.additional-info {
    flex-direction: column;
    gap: 1rem;
}

.buttons-section {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}

.buttons-section {
    gap: 2rem;
    grid-template-columns: 1fr auto;
}

.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    transition: all ease-in;
}

.search-area {
    flex-grow: 1;
    width: 100%;
    display: flex;
}

input, button {
    all: unset;
}

input {
    border: 0.1rem solid black;
    display: none;
    width: 0;
    height: 70%;
    border-radius: 2rem;
    padding-left: 0.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#search-btn {
    border: none;
    margin-left: 0.3rem;
    padding-top: 0.2rem;
    cursor: pointer;
}

#change-unit {
    border: 0.15rem solid black;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#change-unit:hover {
    background-color: rgb(86, 120, 192);
}

.error {
    display: none;
    color: rgb(236, 48, 48);
    align-self: flex-start;
}

.upcoming-forecast {
    display: grid;
    gap: 1rem;
}

.header {
    font-size: max(1.5rem, 2.5vw);
    font-weight: 600;
}

.upcoming-condition, .upcoming-temp {
    display: flex;
}

.day-card {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    justify-items: center;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
}

.day {
    justify-self: start;
}

.day-card img {
    width: max(2rem, 3vw);
}

.upcoming-prec img {
    width: max(2rem, 2.5vw);
}

.upcoming-temp {
    justify-self: start;
}

